<div class="footer">
    <div>
        <div class="social" style="margin-top: 10.3%;">
        <a href="https://github.com/AdrianPlaza/kmom01" aria-label="github">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://dbwebb.se/" aria-label="dbwebb">
            <i class="fas fa-leaf"></i>
        </a>
        <a href="?action=session_destroy">Destroy Session</a>
        <a href="?action=theme">Swap theme</a>
    </div>
    </div>
    
    
</div>

<script src="{{ theme_url }}/../shared//js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/../shared//js/responsive-navbar.js" type="text/javascript"></script>
