@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #c1dbe6;
$background-alternative-color: #e0fbfc;
$font-family: sans-serif;
$font-family2: 'Roboto', sans-serif;

$background-color-dark: #475154;
$background-alternative-color-dark: #363d3d;
$font-color-dark: #fff;
$color-black: #000;

$color-css: #2a65f1;
$color-python: #3c78aa;
$color-php: #767bb3;
$color-html: #f1652a;
$color-sqlite: #1a3c48;
$color-git: #000;
$color-js: #f4db1c;

$report-option-color: #fcebe1;

$report-option-color-dark: #8a6f5f;
